.footerWrapper {
  background-color: var(--whiteColor);
  padding: 20px 0px;
  margin-top: 30px;
  .footer {
    .legalMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        a {
          padding: 5px;
          color: var(--blackColor);
          font-size: 0.9em;
        }
        &:after {
          content: "-";
        }
      }
      li:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}

/* little */
@media screen and (min-width: 500px) {
}

/* narrow */
@media screen and (min-width: 740px) {
}

/* normal */
@media screen and (min-width: 980px) {
}

/* wide */
@media screen and (min-width: 1200px) {
}
