/* var */
:root {
  --little: 480px;
  --narrow: 720px;
  --normal: 960px;
  --wide: 1180px;
}

/* base */
.container {
  margin: 0 auto;
}
.flex,
.contentSide {
  display: flex;
}
.flex-space {
  justify-content: space-between;
}

.fullWidth {
  width: 100%;
}
.contentSide > .sideBar,
.contentSide > .contentMain {
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 30px;
}

/* little */
@media screen and (min-width: 500px) {
  .container {
    width: var(--little);
  }
}

/* narrow */
@media screen and (min-width: 740px) {
  .container {
    width: var(--narrow);
  }
  .contentSide > .sideBar,
  .contentSide > .contentMain {
    padding: 0px;
  }
  .contentSide > .sideBar {
    width: 33%;
    margin-bottom: 0px;
  }
  .contentSide > .contentMain {
    width: 67%;
    margin-bottom: 0px;
  }
}

/* normal */
@media screen and (min-width: 980px) {
  .container {
    width: var(--normal);
  }
}

/* wide */
@media screen and (min-width: 1200px) {
  .container {
    width: var(--wide);
  }
}
