/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

/* variable */

:root {
  --mainColor: #fed517;
  --secondColor: #5b5b5b;

  --firstGrey: #f7f7f7;
  --secondGrey: #eeeeee;
  --thirdGrey: #ccc;

  --blackColor: #000;
  --whiteColor: #fff;

  --mainFont: "Montserrat", sans-serif;
}

body {
  font-weight: 400;
  font-family: var(--mainFont);
  background-color: var(--firstGrey);
}
/* min ful height */
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout > * {
  width: 100vw;
}
.mainContent {
  flex-grow: 1;
}

/* return  */
.return {
  opacity: 0.5;
  margin-bottom: 20px;
  a {
    color: var(--blackColor);
    text-decoration: none;
    &:before {
      content: "< ";
    }
  }
}
