.panier {
  width: 100%;
  thead {
  }
  tbody {
    tr {
      border-bottom: 1px solid #ccc;
      td {
        .supp.none {
          display: none;
        }
      }
    }
  }
  tfoot {
  }
}

/* little */
@media screen and (min-width: 500px) {
}

/* narrow */
@media screen and (min-width: 740px) {
}

/* normal */
@media screen and (min-width: 980px) {
}

/* wide */
@media screen and (min-width: 1200px) {
}
