.sidebarContent {
  .commandeTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 900;
    span {
      font-size: 0.75rem;
      padding: 5px;
      font-weight: 500;
      width: max-content;
      text-transform: uppercase;
      background-color: var(--secondGrey);
    }
  }
}
/* panier */
.panier {
  width: 100%;
  /* global */

  td {
    padding: 10px 0px;
  }
  /* tbody */
  tbody {
    tr {
      border-bottom: 1px solid var(--secondGrey);

      td {
        .type {
          text-transform: capitalize;
        }
        .supp {
          font-size: 0.8em;
          opacity: 0.5;
          span {
            display: inline-block;
            margin-left: 3px;
            &:after {
              content: ", ";
            }
          }
          span:last-child {
            &:after {
              content: inherit;
            }
          }
        }
        .supp.none {
          display: none;
        }
        .quantity {
          margin-top: 5px;
          position: relative;
          .btn {
            width: 20px;
            height: 20px;
            line-height: 20px;
            background-color: var(--secondGrey);
          }
          .moins {
            margin-right: 5px;
          }
          .plus {
            margin-left: 5px;
          }
        }
      }

      td:last-child {
        font-weight: 700;
        text-align: right;
        .delete {
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin-top: 5px;
          background-color: var(--secondGrey);
        }
      }
      td:first-child {
        text-align: left;
      }
    }
    tr:first-child {
      td {
        padding-top: 20px;
      }
    }
    tr:last-child {
      border-bottom: 0px solid var(--thirdGrey);
      td {
        padding-bottom: 20px;
      }
    }
  }
  tfoot {
    tr {
      td {
        position: relative;
        z-index: 1;
        font-weight: 700;
        text-align: right;
      }
      td:first-child {
        &:before {
          content: "";
          background: var(--secondGrey);
          z-index: -1;
          position: absolute;
          top: 0%;
          left: -20px;
          width: calc(100% + 40px);
          height: 100%;
        }
      }
    }
  }
}

/* little */
@media screen and (min-width: 500px) {
}

/* narrow */
@media screen and (min-width: 740px) {
}

/* normal */
@media screen and (min-width: 980px) {
}

/* wide */
@media screen and (min-width: 1200px) {
}
