.pizzaOption {
  .return {
    opacity: 0.5;
    margin-bottom: 20px;
    a {
      color: var(--blackColor);
      text-decoration: none;
      &:before {
        content: "< ";
      }
    }
  }
  .contentMain {
    display: flex;
    background-color: var(--whiteColor);
    .bgPizza {
      width: 50%;
      height: 100%;
      min-height: 70vh;
    }
    .contentPizza {
      width: calc(50% - 20px);
      padding: 10px;
      h1 {
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom: 10px;
      }
      h2 {
        font-weight: 700;
        font-size: 1.25em;
        margin-bottom: 5px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
      }
      button {
        display: block;
        width: 100%;
        text-align: left;
      }
      /* taille */
      h2 {
        button {
          display: inline-block;
          width: fit-content;
          font-size: 0.75em;
          text-transform: lowercase;
          text-decoration: underline;
        }
      }
      .taille {
        button {
          border: 1px solid var(--thirdGrey);
          margin-bottom: -1px;
          padding: 5px;
          display: flex;
          justify-content: space-between;
          span {
            font-weight: 700;
          }
        }
        .taille.active-true {
          background-color: var(--mainColor);
        }
      }
      /* supp */
      .supp {
        button.cat {
          background-color: var(--secondGrey);
          border: 1px solid var(--thirdGrey);
          margin-bottom: -1px;
          padding: 5px;
          display: flex;
          justify-content: space-between;
          span {
            font-weight: 700;
            font-size: 0.75em;
          }
        }
        .suppList {
          button {
            background-color: var(--whiteColor);
            border: 1px solid var(--thirdGrey);
            margin-bottom: -1px;
            padding: 5px;
            font-size: 0.9em;
          }
        }
      }
      /* display: supp */
      .cat-0,
      .cat-1,
      .cat-2,
      .cat-3 {
        .catTitle {
          .suppList {
            display: none;
          }
        }
      }
      .cat-1 {
        .catTitle.cat-1 {
          .suppList {
            display: block;
          }
        }
      }
      .cat-2 {
        .catTitle.cat-2 {
          .suppList {
            display: block;
          }
        }
      }
      .cat-3 {
        .catTitle.cat-3 {
          .suppList {
            display: block;
          }
        }
      }
    }
    /* supp choix */
    .supSelect {
      display: flex;
      flex-wrap: wrap;
      .element {
        display: flex;
        align-items: center;
        border: 1px solid var(--thirdGrey);
        margin: 3px;
        padding: 5px;
        span {
          margin-left: 5px;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          line-height: 20px;
          text-align: center;
          background-color: var(--secondGrey);
          font-size: 0.5em;
          font-weight: 700;
        }
      }
    }
    .action {
      margin-top: 20px;
      button {
        background-color: var(--mainColor);
        width: fit-content;
        padding: 10px 20px;
      }
      button:disabled {
        background-color: var(--secondGrey);
      }
    }
  }
}

/* little */
@media screen and (min-width: 500px) {
}

/* narrow */
@media screen and (min-width: 740px) {
}

/* normal */
@media screen and (min-width: 980px) {
}

/* wide */
@media screen and (min-width: 1200px) {
}
